// CSS Reset
/* 
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Color Variables
:root {
  --text-general: white;
  --background: #f6f9fc;

  --scheme: #ff0000;

  --gradient-top: #53f;
  --gradient-mid: #05d5ff;
  --gradient-bottom: #a6ffcb;
  --stripe-one: #4c29ff;
  --stripe-two: #318eff;
  --stripe-three: #4fdfd8;
  --stripe-four: #2be7ff;
  --stripe-five: #a1ffc8;

  --links-top-shadow: #040a17;
  --links-top-hover: #cad6e7;

  --popup-background: #322a39;

  --err: #cb1a1a;

  --notifications-info: #318eff;
  --notifications-info-background: #fcfdfd;
  --notifications-info-close: #339ead;
  --notifications-err-close: #fba12e;
  --notifications-info-close-hover: #1800f3;

  --confirm-button: #464c4f;
  --confirm-gradient-top: #fff;
  --confirm-gradient-bottom: #efefef;
  --button-shadow: rgba(255, 255, 255, 0.8);

  --main-summary-shadow: #040a17;

  --register-background: #3ecf8e;
  --register-shadow: rgb(51, 61, 57);

  --demo-separation: #72b1ff;
  --demo-shadow: rgba(24, 32, 201, 0.8);

  --demo-gradient-top:#988ffb;
  --demo-gradient-bottom: #347698;
  --demo-step-shadow: black;

  --workout-text: #21201f;
  --workout-text-shadow: rgba(169, 169, 169, 0.8);

  --nav-button: #464c4f;
  --nav-button-background: #11f0f0;
  --nav-button-border: #fbfbfb;

  --bullet: #8566e5;
  --exercise-title-shadow: white;

  --input-border: black;
  --input-focus-border: rgba(24, 32, 201, 0.8);
  --input-box-shadow: #719ECE;
  
  --add-button-shadow: rgb(12, 87, 59);;
  --add-button-shadow-hover: #75b4ff;

  --title-row-border: black;

  --remove: #be1f1f;
  --remove-hover: #dd1919;

  --done-gradient-bottom: #1233b6;

  --form-text: #1a1f36;;
  --form-submit: rgb(84, 105, 212);

  --form-links: #5469d4;

  --submit-button-top: #28a0e5;
  --submit-button-bottom: #015e94;
}

.redScheme {
  --scheme: #53f;

  --gradient-top: #ff0000;
  --gradient-mid: #ffcd0b;
  --gradient-bottom: #ffbe9c;
  --stripe-one: #c20404;
  --stripe-two: #fc3b06;
  --stripe-three: #f83737;
  --stripe-four: #ff3719f2;
  --stripe-five: #ff000029;

  --register-background: #122013;

  --demo-separation: #894765;

  --demo-gradient-top:#babc26;
  --demo-gradient-bottom: #ff57e9;

  --nav-button: #122013;
  --nav-button-background: #f4ee2e;

  --bullet: #ff002d;
  
  --input-focus-border: rgba(241, 0, 0, 0.8);
  --input-box-shadow: rgb(179, 137, 23);


  
}



// Button Styling Reset
button {
  all: unset;
}

// Link Styling
a {
  color: unset;
  text-decoration: none;
}

// Input Styling
// Hide HTML5 Up and Down arrows
input[type='number']::-webkit-outer-spin-button, input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

// Font
body {
  font-family: "Camphpor", "Segoe UI", "Open Sans", sans-serif;
  color: var(--text-general);
  background: var(--background);
}

// Scheme Change
.scheme-wrapper {
  margin: 0 1.1rem 1rem;

  #schemeChange {
    display: inline-block;
    padding: 8px;

    background-color: var(--scheme);
    text-shadow: 0 1px 3px var(--button-shadow);
    border: 1px solid var(--nav-button-border);
    border-radius: 2rem;
    cursor: pointer;

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    }
  }
}

// Loading 
#loading,
#loading-workout {
  margin-top: 50%;
  position: fixed;
  width: 100%;
  height: 100%;

  text-align: center;

  .load-message {
    margin-top: 1rem;

    color: #530368;
    text-shadow: 0 1px 3px #a6b5d5;
    font-size: 20px;
    font-weight: 700;
  }

  // Free CSS Loaders
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  // Workout
  .lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
}

// Background Gradient
// Blue Scheme
#background-gradient {
  position: absolute;
  width: 100%;
  height: 100%;

  background: linear-gradient(150deg,var(--gradient-top) 15%,var(--gradient-mid) 70%,var(--gradient-bottom) 94%);
  transform: skewY(-12deg);
  transform-origin: 0;

  span {
    position: absolute;
    height: 40px
  }

  span:first-child {
    width: 50%;
    left: 50%;
    top: 40px;

    background: var(--stripe-one);
  }

  span:nth-child(2) {
    width: 72%;
    height: 150px;
    left: 0;
    top: 163px;

    background:var(--stripe-two);
  }

  span:nth-child(3) {
    width: 25%;
    height: 90px;
    left: 0;
    bottom: 0;

    background: var(--stripe-three);
  }

  span:nth-child(4) {
    width: 14%;
    right: 0;
    bottom: 40px;

    background: var(--stripe-four);
  }

  span:nth-child(5) {
    width: 25%;
    right: 0;
    bottom: 0;

    background: var(--stripe-five);
  }
}

// Main Container
#container {
  padding-top: 1rem;
  position: relative;
}

// Nav
#nav-main {
  //display: flex;
  //justify-content: space-between;

  display: grid;
  grid-template-areas:
    'home link-right';
  align-items: center;

  font-size: 20px;

  a {
    padding: 1rem;
    text-shadow: 0 1px 3px var(--links-top-shadow);
    cursor: pointer;

    &:hover {
      color: var(--links-top-hover);
    }
  }

  .link-home {
    grid-area: home;
    justify-self: flex-start;
    font-weight: 700;
    cursor: pointer;
  }
  .link-login,
  .link-logout {
    grid-area: link-right;
    justify-self: flex-end;
    cursor: pointer;

    &:hover {
      color: var(--links-top-hover);
    }
  }
  .link-logout {
    padding: 1rem;
  }
  .logged-in {
    grid-area: logged-in;
    padding: 1rem;
    display: flex;

    div {
      display: block;
      word-wrap: break-word;
    }
  }
} 

// Notifications Popup
.notifications-wrapper,
.confirmation-wrapper {
  .popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0.8;
    background-color: var(--popup-background);
    z-index: 1;
  }
  
  .notifications {
      min-width: 250px;
      padding: 1rem 1rem 2rem;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    
      font-size: 18px;
      line-height: 20px;
      
      color: var(--notifications-info);
      background-color: var(--notifications-info-background);
      border: 2px solid var(--notifications-info);
      border-left-width: 6px;
      border-radius: 6px;
      z-index: 2;
    
    .notification-close-wrapper {
      text-align: right;
    }
    .notification-close {
      display: inline-block;
      cursor: pointer;

      color: var(--notifications-info-close);
      font-size: 30px;

      &:hover {
        color: var(--notifications-info-close-hover);
      }
    }

    .notification {
      margin: 2px 9px 0 0;
      text-align: center;
      word-wrap: break-word;
    }

    .notification-list {
      margin: 0 2rem;
      
      text-align: center;
      word-wrap: break-word;

      &.multi {
        text-align: left;
      }
    }

    .yes-no-wrapper {
      width: 69%;
      display: flex;
      justify-content: space-between;
      margin: 18px auto 0;

      .button-yes,
      .button-no {
        display: inline-block;
        padding: 8px 13px;

        color: var(--confirm-button);
        background-image: linear-gradient(-180deg,var(--confirm-gradient-top) 0,var(--confirm-gradient-button));
        font-size: 14px;
        font-weight: 700;
        text-shadow: 0 1px 3px var(--button-shadow);
        text-transform: uppercase;
        border: 3px solid var(--links-top-hover);
        border-radius: 2rem;
        cursor: pointer;

        &:hover {
          color: #303434;
          border-color: #babdbe;
          background: #fff;
          background-image: linear-gradient(-180deg,#fff 0,#e1e3e3);
          box-shadow: inset 0 -1px 0 0 #babdbe,0 1px 4px 0 rgba(0,0,0,.1);
        }
      }

      .button-yes,
      .button-yes:hover {
        color: var(--err);
        border-color: var(--err);
      }
    }


    &.err {
      border-color: var(--err);

      .notification-close {
        color: var(--notifications-err-close);
  
        &:hover {
          color: var(--err);
        }
      }

      .notification-list {
        color: var(--err);
      }


    }


  }

}

.confirmation-wrapper {  
  .notifications {
      padding: 2rem 1rem;
      
      color: var(--err);
      border-color: var(--err);
  }
}


// Home
#home,
#home-logged-in {
  margin: 3rem 1rem;
}

#home-logged-in {
  margin-top: 0;
}

// Main Summary
.main-summary {
  font-size: 32px;
  line-height: 37px;
  text-shadow: 0 1px 3px var(--main-summary-shadow);
  text-align: center;
}

// Links Register
.links-register {
  margin-top: 5rem;
  text-align: center;

  a {
    display: inline-block;
    padding: 20px;

    font-size: 18px;
    font-weight: 700;
    background: var(--register-background);
    text-shadow: 0 1px 3px var(--register-shadow);
    border-radius: 4px;

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    }
  }
}

// Demo Workout
#workout-demo,
#workout-home {
  margin-top: 2rem;

  color: var(--workout-text);
  text-shadow: 0 1px 3px var(--workout-text-shadow);
  font-size: 19px;

  .logged-in {
    color: var(--text-general);
    font-size: 16px;
    word-wrap: break-word;

    .user-email {
      margin-top: 3px;

      font-weight: 700;
    }  
  }

  #nav-workout {
    margin: 12px 0;
    display: flex;
    justify-content: space-evenly;

    button {
      padding: 8px 13px;

      color: var(--nav-button);
      background-color: var(--nav-button-background);

      font-size: 14px;
      font-weight: 700;
      text-shadow: 0 1px 3px var(--button-shadow);
      text-transform: uppercase;
      border: 3px solid var(--nav-button-border);
      border-radius: 2rem;
      cursor: pointer;

      &:hover {
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
      }
    }
    
  }

  #heading-workout {
    margin: 26px 0;
    color: var(--text-general);
    text-align: center;

    .recalc-wrapper {
      text-align: left;

      .recalc-button {
        margin-top: 20px;
        display: inline-block;
        padding: 8px 13px;

        color: var(--nav-button);
        background-color: var(--nav-button-background);
  
        font-size: 14px;
        font-weight: 700;
        text-shadow: 0 1px 3px var(--button-shadow);
        text-transform: uppercase;
        border: 3px solid var(--nav-button-border);
        border-radius: 2rem;
        cursor: pointer;
  
        &:hover {
          transform: translateY(-1px);
          box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
        }


      }
    }
  }

  .input-title {
    margin-bottom: 2px;
  }

  input {
    width: 55px;
    padding: 7px;

    font-size: 1rem;
    border: 1px solid var(--input-border);
  }
  input:focus {
    outline: none !important;
    border:1px solid var(--input-focus-border);
    box-shadow: 0 0 10px var(--input-box-shadow);
  }

  .title-wrapper {
    text-align: center;

    .demo-title {
      display: inline-block;
      padding-top: 2rem;
  
      border-top: 5px solid var(--demo-separation);
      color: var(--text-general);
      text-shadow: 0 1px 3px var(--demo-shadow);
      font-size: 20px;
      font-weight: 700;
      line-height: 25px;
      text-align: center;
    }
  }

  .demo-step {
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding: 1rem 2rem;

    color: var(--text-general);
    background: linear-gradient(var(--demo-gradient-top), var(--demo-gradient-bottom));
    //background: #8566e5;
    border-radius: 4px 4px 169px 4px;
    text-shadow: 0 1px 3px var(--demo-step-shadow);
    font-weight: 700;
    line-height: 25px;
  }

  #rm-tm-wrapper {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: .65fr 1fr;
    grid-row-gap: 1rem;

    .exercise-wrapper {
      

      .exercise-title-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 7px;

        .bullet {
          display: inline-block;
          width: 15px;
          height: 15px;
          margin-right: 5px;

          background-color: var(--bullet);
          transform: rotate(45deg)
        }
        .exercise-title {
          display: inline-block;
  
          text-shadow: 0 1px 3px var(--exercise-title-shadow);
          font-weight: 700;
        }
      }
  
      .one-rm-tm-wrapper {
        margin-left: 20px;

        .exercise-one-rm {
          margin-bottom: 7px;
          div {
            text-shadow: 0 1px 3px var(--exercise-title-shadow);
          }
        }
        .exercise-tm {
          div {
            text-shadow: 0 1px 3px var(--exercise-title-shadow);
          }
        }
      }
    }

  }

  #rm-calc {
    margin-top: 1rem;

    .title {
      margin-bottom: 7px;

      font-weight: 700;
    }

    .weight-reps-wrapper {
      display: flex;

      .rm-calc-reps {
        margin-left: 2rem;
      }

      .rm-calc-wrapper {
        margin-left: 2rem;

        .input-title {
          margin-bottom: 8px;
        }
        .rm-calc-ans {
          font-weight: 700;
          text-align: center;
        }
      }

    }
  }

  .add-assist-wrapper {
    margin-top: 1rem;

    .add-assist-title {
      font-weight: 700;
    }

    select {
      width: 200px;
      padding: 7px;
      margin: 10px 0;
      
      font-size: 1rem;
      background-color: var(--text-general);
      outline: none !important;
      border:1px solid var(--input-focus-border);
    }

    .assist-set-rep-wrapper {
      display: flex;
      align-items: center;

      .assist-repCount {
        margin-left: 1rem;
      }

      .add-button {
        display: flex;
        align-items: center;
        padding: 13px 15px;
        margin-left: 1rem;

        font-size: 18px;
        font-weight: 700;
        color: var(--text-general);
        background: var(--notifications-info);
        text-shadow: 0 1px 3px var(--add-button-shadow);
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          transform: translateY(-1px);
          background: var(--add-button-shadow-hover);
          box-shadow: inset 0 -1px 0 0 #babdbe,0 1px 4px 0 rgba(0,0,0,.1);
        }
      }
    }
  }

  #workout-session-demo,
  #workout-session {
    margin: 5rem 0;

    input {
      width: 30px;
    }

    .exercise-wrapper {
      font-size: 16px;

      .exercise-title {
        margin: 7px 0;

        font-size: 30px;
        font-weight: 700;
        text-shadow: 0 1px 3px rgba(215, 217, 255, 0.8);
        text-align: center;
      }

      .title-row,
      .exercise-row {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
      .exercise-row:last-child {
        align-items: flex-start;

        span:not(:last-child) {
          margin-top: 7px;
        }
      }

      .title-row {
        padding-bottom: 7px;
        margin-bottom: 7px;
        
        border-bottom: 3px solid var(--title-row-border);
        font-weight: 700;
      }

      .exercise-row {
        margin-bottom: 5px;

        span:nth-child(3) {
          margin-left: 12px;
        }
      }

      .exercise-last-set {
          width: 50px;

          input {
          margin-bottom: 5px;
        }
      }
    }

  }

  .assistance-wrapper-demo,
  .assistance-wrapper {

    .assist-exercise-wrapper {
      margin-bottom: 1rem;

      .title-delete-wrapper {
        margin-bottom: 1rem;
  
        font-size: 20px;
        font-weight: 700;
  
        .assist-title {
          display: flex;
          margin: 0 5px 5px 0;
  
          .assist-name {
            margin-right: 10px;
          }
        }
  
        .delete-assist {
          display: inline-block;
          padding: 7px 14px;
  
          font-size: 15px;
          font-weight: 400;
          color: var(--text-general);
          background: var(--remove);
          text-shadow: 0 1px 3px rgb(12, 87, 59);
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            transform: translateY(-1px);
            background: var(--remove-hover);
            box-shadow: inset 0 -1px 0 0 #babdbe,0 1px 4px 0 rgba(0,0,0,.1);
          }
        }
      }

      .assist-input-wrapper {
        margin-left: 100px;
        input {
          margin: 0 7px 7px 0;
          width: 30px;
        }
      }
    }
    
  }

  #finish-options {
    .done-button {
      display: inline-block;
        padding: 20px;
    
        font-size: 18px;
        font-weight: 700;
        color: white;
        background-image: linear-gradient(-180deg, var(--notifications-info) 0, var(--done-gradient-bottom));
        border-radius: 3px;
        border: 1px solid #d7dbdb;
        box-shadow: inset 0 -1px 0 0 #d7dbdb;
        cursor: pointer;

        &:hover {
          transform: translateY(-1px);
          box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
        }
    }
  }
  
}

#workout-home {
  margin-top: 0;

  #rm-calc {
    margin-top: 3rem;
  }

  .add-assist-wrapper {
    margin-top: 3rem;
  }
  
}


// Signup, Login
#signup,
#login,
#resendEmail,
#forgotPassword {
  max-width: 80%;
  margin: 2rem auto 3rem;
  padding: 2rem 1rem 1rem;

  font-size: 16px;
  color: var(--form-text);
  background-color: var(--background);
  box-shadow: 0 15px 35px 0 rgba(60,66,87, .12), 0 5px 15px 0 rgba(0,0,0, .12);
  border-radius: 4px;

  input:focus {
    outline: none !important;
    border:1px solid var(--input-focus-border);
    box-shadow: 0 0 10px var(--input-box-shadow);
  }

  h2 {
    margin-bottom: 2rem;

    font-size: 18px;
    text-align: center;
    line-height: 22px;
    word-wrap: break-word;
  }

  .form-wrapper {
    margin-bottom: 2rem;

    .form-title {
      margin-bottom: 5px;

      font-weight: 700;
    }

    input {
      width: 90%;
      min-height: 30px;
      padding-left: 7px;

      outline: 0;
      border-radius: 4px;
    }
  }

  .submit-wrapper {
    margin-bottom: 2rem;

    text-align: center;

    .submit-button {
      display: inline-block;
      padding: 15px 25px;

      font-family: inherit;
      font-size: inherit;
      font-weight: 700;
      color: var(--text-general);
      background-color: var(--form-submit);
      border-style: none;
      border-radius: 3px;
      cursor: pointer;

      &:hover {
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
      }
    }
  }

  .links {
    text-align: center;

    a {
      color: var(--form-links);
    }

    .links-login,
    .links-resend {
      margin-bottom: 1rem;

      line-height: 18px;
    }

  }
  
}

#login,
#resendEmail,
#forgotPassword {
  .submit-button {
    background: linear-gradient(var(--submit-button-top), var(--submit-button-bottom));
    box-shadow: 0 1px 1px rgba(0,0,0,.16);
  }

  .links-register {
    margin: 1rem 0;

    a {
      padding: 0;

      font-size: 16px;
      font-weight: 400;
      background: unset;
      text-shadow: none;
    }
  }
}

@media (min-width: 468px) {
  #signup,
  #login,
  #resendEmail,
  #forgotPassword {
    max-width: 369px;
  }

}

// Media Query for Larger Screens
@media (min-width: 600px) {
  #container {
    max-width: 1100px;
    margin: 0 auto;
  }

  #workout-demo,
  #workout-home {
    .demo-step {
      max-width: 700px;
      margin: 3rem auto 2rem;
    }

    #rm-tm-wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 700px;
      margin: 0 auto;
    }

    #rm-calc {
      width: 269px;
      margin: 1rem auto 0;
    }

    .add-assist-wrapper {
      width: 300px;
      margin: 1rem auto 0;
    }

    #workout-session-demo,
    #workout-session {
      max-width: 1000px;
      margin: 5rem auto 3rem;
    }

    .assistance-wrapper-demo,
    .assistance-wrapper {
      max-width: 700px;
      margin: 0 auto;
    }
  }

  #workout-home {
    margin-top: 0;
  
    #rm-calc {
      margin-top: 3rem;
    }
  
    .add-assist-wrapper {
      margin-top: 3rem;
    }
    
  }


}
